:root {
  --main-color: #eb6b44;
  --second-color: black;
  --third-color: white;
  --quarters-color: #404040;

  --font-size:1.5vw; /*ПОМЕНЯТЬПОМЕНЯТЬПОМЕНЯТЬ*/

  --slide-block-width: 95.8%;
  --block-margin: 1.25rem;
  --nav-margin: 5%; 

  --main-left-padding:4.34%;
  --main-vertical-padding:2rem;

  --block-vertical-padding: 2.5rem;
  --first-side-block-padding:8.3%; 
  --second-side-block-padding:12.5%;
  --block-content-margin: 2rem;
}

@font-face {
  font-family: Catallina;
  src: url(src/ofont.ru_Catallina.ttf);
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box; 

  font-family: sans-serif;
  font-weight: 100;

  overflow-x: hidden;
}

html {
  width: 100%;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  width: 100%;
}

h1{
  font-size: 5.3rem;
  font-family: "Catallina";
}

h2{
  font-size: 2rem;
  font-family: "Catallina";
}

h3{
  font-size: 1rem;
}

h4{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h5{
  font-size: 0.83rem;
}

h6{
  font-size: 0.8rem;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--second-color);

  width: 100%;
  height: 2.9rem;

  padding-left: 0.583rem;
  padding-right: 0.583rem;

  z-index: 4;
}

a{
  text-decoration: none;
  color: var(--third-color);
}

.nav-logo{
  align-items: center;

  width:11.5rem; 
  height:2.5rem;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--third-color);

  width: 100%;
}

.nav-burger{
  align-items: center;

  width:2rem; 
  height:1.16rem;
}




.block-wrapper{
  margin-top: var(--block-margin);
}

.main-block-wrapper{
  margin-top:calc(var(--block-margin) + 2.9rem ) ;
}





.main-block{
  background-color: var(--second-color);
  border-radius: 0 50px 50px 0;

  height: auto;
  width: var(--slide-block-width);

  transform: translateX(-100%);

  transition: transform 1s; 

  margin-top: var(--block-margin);
  padding-top: var(--block-vertical-padding);
  padding-bottom: var(--block-vertical-padding);

  /* animation-duration: 1.5s;
  animation-name: slidein2; */
}

.tagline{
  color: var(--third-color);

  width: 27rem;

  margin-left: var(--main-left-padding);
}

.hakaton-name{
  color: var(--main-color);

  width: 100%;

  margin-top: var(--block-content-margin);
}

.first-layer{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 2.5rem;
}

.first-line{
  background-color: var(--main-color);

 height: 0.416rem;
 flex: 1;

 margin-left: 2.5rem;
}

.second-layer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.second-line{
  background-color: var(--main-color);

  height: 0.416rem;
  width: 15.52583rem;

  margin-right: 2.5rem;
}

.main-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width:37rem;

  margin-top: var(--block-content-margin);
  margin-left: var(--main-left-padding);
}

.button {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  color: var(--second-color);

  width: 11.6rem;
  height: 2.5rem;
}

.button:hover {
  background-color: var(--second-color);
  border: 2px solid var(--third-color);
  border-radius: 20px;

  color: var(--third-color);

  transition: 0.5s;
}

.icon{
  width: 20px;
  fill: var(--main-color);
  margin-right: 14px;
}

.date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: var(--third-color);

  width: auto;
}

.location{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: var(--third-color);

  width: auto;
}

.first-pic {
  position: absolute;
  z-index: 1;

  width: 6.75rem;

  margin-top: 7.125rem;
  margin-left: 36rem;
/* 
  transform: translateZ(-1px) scale(1); */
}

.second-pic {
  position: absolute;
  z-index: 1;

  width: 9.5rem;

  margin-top: 5rem;
  margin-left: 45.5rem;
}




.hakaton-block{
  background-color: var(--second-color);
  border-radius:  50px 0 0 50px ;

  height: auto;
  width: var(--slide-block-width);

  transform: translateX(100%);

  transition: transform 1s; 

  float: right;

  padding-top: var(--block-vertical-padding);
  padding-bottom: var(--block-vertical-padding);
  padding-left: var(--first-side-block-padding);
  padding-right: var(--second-side-block-padding);

  /* animation-duration: 1.5s;
  animation-name: slidein2; */
}

.svg-border{
  width:100%;
  max-height: 120px;
}

.hakaton{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  color: var(--third-color);

  padding-left: 5.5%;
  padding-right: 5.5%;
}

.hakaton__hakaton{
  color: var(--main-color);
}

.hakaton__dash{
  color: var(--third-color);
  margin-left: 5.5%;
  margin-right: 5.5%;
}

.hakaton__text{
  color: var(--third-color);
  width: 25.2rem;
}

.theme{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: var(--block-vertical-padding);
}

.theme__theme{
  color: var(--main-color);

  margin-right: 14px;
}

.center-wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
}

.theme__text{
  color: var(--third-color);
  line-height: 1.25rem;

  width: 16.7rem;
}




.row-blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  padding-left: 4.2%;
  padding-right: 4.2%;

  column-gap: 2.1%;
  row-gap: 1.25rem;
}

.row-block{
  background-color: var(--second-color);
  border-radius: 50px;

  flex: 1;
  min-width: 16.6rem;
}

.row-block__num{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--main-color);
  text-align: center;

  margin-top: 2.5rem;
}

.row-block__text{
  color: var(--third-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;

  height: 5rem;

  margin-top: 1.583rem;
  margin-bottom: 1.25rem;
}




.hakaton-info-block{
  background-color: var(--second-color);
  border-radius: 0 50px 50px 0;

  height: auto;
  width: var(--slide-block-width);

  transform: translateX(-100%);

  transition: transform 1s; 
  
  padding-top: var(--block-vertical-padding);
  padding-bottom: var(--block-vertical-padding);
  padding-left: var(--second-side-block-padding);
  padding-right: var(--first-side-block-padding);
}

.hakaton-info__title{
  text-align: center;
  color: var(--main-color);
}

.hakaton-info__text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  margin-top: 1.25rem;
}

.arrow{
  width:109px;
  height:24px;

  margin-right: 30px;
}

.hakaton-info__text__text{
  color: var(--third-color);
  line-height: 1.25rem;
  text-align: left;

  flex: 1;
}

.hakaton-info__link{
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  margin-top: 1.25rem;
}




.ticker-block{
  border-radius: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--second-color);
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;

  height: 7rem;

  text-align: center;
}




.track-info-block{
  padding: var(--block-vertical-padding);

  width: 100%;
  border-radius: 50px;
  background-color: var(--second-color);
}

.track-info-block__title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);

  height: 4.3rem;
}

.track-info-block__tracks{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: var(--block-margin);
}

.track{
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--main-color);

  width: 24.7%;
}

.track__title{
  color: var(--third-color);

  margin-top: var(--main-vertical-padding);
}

.track__text{
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 5.16rem;
}

.tracks-svg-block{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: var(--block-margin);
}

.tracks-svg{
  margin-left: 12.35%;
  margin-right: 12.35%;
}

.track-info__text{
  color: var(--third-color);
  text-align: center;

  margin-top: var(--block-margin);
}

.track-arrow{
  width:59px;
  height:81px;

  margin-top: var(--block-margin);
}

.final-info{
  color: var(--main-color);
  text-align: center;

  margin-top: var(--block-margin);
}

.final-info-text{
  color: var(--third-color);
  text-align: center;
}




.conditions-block{
  background-color: var(--second-color);
  border-radius:  50px 0 0 50px ;

  width: var(--slide-block-width);

  transform: translateX(100%);

  transition: transform 1s; 

  float: right;

  padding-top: 2.5rem;
  padding-bottom: 5rem;
  padding-left: 6.527%;
  padding-right: 6.527%;
}

.condition-title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);

  height: 4.3rem;
}

.conditions{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 1.25rem;

  column-gap: 8.75%;
  row-gap: 1.25rem;
}

.condition{
  width: 27.5%;
  min-width: 12.5rem;
}

.condition-border{
  width:100%;
  max-height:120px;
}

.condition__title{  
  color: var(--third-color);
}

.condition__text{
  color: var(--main-color);
  margin-top: 1.25rem;
}

.nocomand{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 4.16rem;
}

.nocomand__title{
  color: var(--third-color);
  text-align: left;

  min-width: 12.5rem;
  margin-right: 13.25%;
}

.nocomand__svg{
  width:200px;
  height:61px;
  margin-right: 7%;
}

.nocomand__text{
  color: var(--third-color);
  text-align: left;
}




.registration-info-block{
  background-color: var(--second-color);
  border-radius: 0 50px 50px 0;

  height: auto;
  width: var(--slide-block-width);

  transform: translateX(-100%);

  transition: transform 1s; 
  
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 10.1449%;
  padding-right: 11.5942%;
}

.registration-info-block__title{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--third-color);

  height: 4.3rem;
}

.registration-info-block__info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 1.4583rem;
}

.registration-info-block__info__title{
  color: var(--third-color);
}

.registration-info-block__info__svg{
  width:100px;
  height:61px;
}

.registration-info-block__info__buttom{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-color); 
  border: none;
  border-radius: 20px;
  color: var(--second-color);

  width: 21.25rem;
  height: 3.333rem;
}

.registration-info-block__info__buttom:hover {
  background-color: var(--second-color);
  border: 2px solid var(--third-color);
  border-radius: 20px;

  color: var(--third-color);

  transition: 0.5s;
}

.registration-info-block__attention{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  
  margin-top:2.5rem;

  column-gap: 12%;
  row-gap: 1.25rem;
}

.registration-info-block__attention__title{
  color: var(--main-color);
}

.registration-info-block__attention__text{
  color: var(--third-color);

  margin-top: 1.25rem;
}




.text-block{
  color: var(--second-color);
  text-align: center;
  margin-top: 1.25rem;
}




.program-info-block{
  background-color: var(--second-color);

  padding: 2.5rem 10.416%;
}

.program-info__title{
  color: var(--third-color);
  text-align: center;
}

.day-switch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}


.first-day{
  color: var(--main-color);
  white-space: nowrap;
  text-align: center;
  opacity: 1;

  transition: opacity 0.5s linear;

  width: 8rem;

  margin: 0 5.263%;
}

.second-day{
  color: var(--main-color);
  white-space: nowrap;
  text-align: center;
  opacity: 0.5;

  transition: opacity 0.5s linear;

  width: 8rem;

  margin: 0 5.263%;
}

.third-day{
  color: var(--main-color);
  white-space: nowrap;
  text-align: center;
  opacity: 0.5;

  transition: opacity 0.5s linear;

  width: 8rem;

  margin: 0 5.263%;
}

.button-wo-color{
  background-color: var(--second-color);
  border: none; 

  color: var(--main-color);
}

.program-table{
  margin-bottom: 2.5rem;
  height: 35rem;
}

.first-day-table{
  color: var(--third-color);
  position: absolute;

  width: 79.168%;

  visibility:visible;
  opacity: 1;

  transition: visibility 0.5s, opacity 0.5s linear;

  text-align: center;
}

.second-day-table{
  color: var(--third-color);
  position: absolute;

  width: 79.168%;

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.5s, opacity 0.5s linear;


  text-align: center;

}

.third-day-table{
  color: var(--third-color);
  position: absolute;

  width: 79.168%;

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.5s, opacity 0.5s linear;


  text-align: center;

}

.table{
  display: flex;
  flex-direction: column;
}

.table-row{
  border-top: 2px solid var(--quarters-color);
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  height: 5rem;
}

.table-row__time{
  min-width: 3rem;

  margin: 0 5%;

  color: var(--main-color);
}

.table-row__text{
  color: var(--third-color);

  text-align: left;
}

.last-table-row{
  border-top: 2px solid var(--quarters-color);
  border-bottom: 2px solid var(--quarters-color);
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  height: 5rem;
}




.form-block{
  width: 100%;
  background-color: var(--second-color);
  border-radius: 50px 50px 0 0;
  padding-top: 2.5rem;
  padding-left: 22.222%;
  padding-right: 22.222%;
}

.form-block__title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--third-color);

  height: 4.3rem;
}

.form-block__form{
 margin-top: 1.25rem;
}

.form__row{
 color: var(--third-color);

 margin-top: 0.833rem;
}

.form__row__radio{
  color: var(--third-color);
 
  margin: 1.25rem 0;
}

.form__row__checkbox{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: var(--third-color);

  margin: 1.25rem 0;
}

.input-text{
  width:100%;
  height: 2.5rem;

  border-radius: 12px;
}

.input-radio{
  margin-right: 10px;
}

.radio-row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  color: var(--third-color);
  margin-top: 10px;
}

input[type="radio"]{
  background-color: var(--second-color);
}

input[type="checkbox"]{
  background: var(--second-color);

  width: 20px;
  height: 20px;

  margin-right: 20px;
}



.input-text__note{
  width:100%;
  height: 4.25rem;

  border-radius: 12px;
}

.checkbox-label{
  width: 95%;
}

.submit-button{
  background-color: var(--main-color);
  color: var(--third-color);

  width: 65%;
  height: 3.333rem;

  margin: 2.5rem 17.5%;

  border-radius: 15px;
}

.submit-button:hover{
  background-color: var(--second-color);
  border: 2px solid var(--third-color);
  border-radius: 15px;

  color: var(--third-color);

  transition: 0.5s;
}




footer{
  background-color: var(--second-color);

  padding: 1.25rem 2.5rem;
}

.footer__first-layer{
  color: var(--main-color);
  text-align: left;
}

.footer__second-layer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 1.25rem; 
}

.text{
  color: var(--third-color);
}

.input-text__text{
  margin-bottom: 10px;
}




input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    display: none;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: var(--second-color);
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid var(--third-color);
    border-bottom: 4px solid var(--third-color);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--third-color);
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}




.nav-burger-menu{
  position:fixed;
  background-color: var(--second-color);
  z-index: 5;

  height: 100%;
  width:25rem;

  margin-left: 100%;

  transition: margin-left 0.5s;
}

.nav-burger__exit{
  position: absolute;
  display: flex;
  justify-content: end;
  right: 0;
}

.nav-burger__filling{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%; 

  padding: 2.5rem;
}

.nav-burger__nav{
  display: flex;
  flex-direction: column;

  row-gap: 0.8rem;
  margin: 0 2.5rem;
}

.nav-burger__info{
  display: flex;
  flex-direction: column;

  row-gap: 0.83rem;
  margin: 0 2.5rem;


  color: var(--main-color );
}

marquee{
  font-size: 5.3rem;
  font-family: "Catallina";
  line-height: 6.5rem;
}













@media (max-width: 1440px) {
  :root {font-size: 24px;}

  .first-pic{
    margin-left: 10%;
    margin-top: 15rem;
  }

  .second-pic{
    width: 7.5rem;

    margin-left: 76%;
    margin-top: 3rem;
  }

}

@media (max-width: 1000px) {
  :root {font-size: 20px;}

  .navigation {
    visibility: hidden;
    width: 0%;
  }

  .second-line{
    width: 12rem;
  }

  .nocomand__svg{
    display: none;
  }

  .registration-info-block__info{
    flex-direction: column;
  }

  .registration-info-block__info__svg{
    display:none;
  }

  .registration-info-block__info__buttom{
    margin-top: 1.25rem;
  }

  .registration-info-block__attention{
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 800px) {
  :root {font-size: 18px;}
  h1{font-size: 3rem;}

  .main-block{
    width: 100%;
    border-radius: 0;
  }

  .tagline{width: 50%;}
  .first-layer{margin-left: var(--main-left-padding);}
  .first-line{margin-left:1rem;}
  .second-layer{margin-right: var(--main-left-padding);}

  .second-line{
    width: auto;
    flex: 1;
    margin-right:1rem;
  }

  .main-info{
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: 0;
  }

  .date{ margin-top: var(--block-content-margin);}

  .first-pic{
    width: 5rem;

    margin-left: 5%;

  }

  .second-pic{
    width: 7.5rem;

    margin-left: 60%;
    margin-top: 1.7rem;
  }

  .hakaton-block{
    border-radius : 0;

    width: 100%;
   
    padding-left: var(--main-left-padding);
    padding-right: var(--main-left-padding);
  }

  .hakaton{flex-direction: column;}
  .hakaton__dash{display: none;}
  .hakaton__text{text-align: center;}
  .theme{flex-direction: column;}
  .center-wrapper{width: 100%;}

  .hakaton-info-block{
    border-radius : 0;

    width: 100%;
   
    padding-left: var(--main-left-padding);
    padding-right: var(--main-left-padding);
  }

  .hakaton-info__text{flex-direction: column;}
  .hakaton-info__text__text{text-align: center;}
  .arrow{display: none;}

  .track-info-block__tracks{flex-direction: column;}
  .track{
    width: 100%;
    margin-top: var(--block-margin);
  }
  .tracks-svg{display: none;}

  .conditions-block{
    border-radius : 0;

    width: 100%;
   
    padding-left: var(--main-left-padding);
    padding-right: var(--main-left-padding);
  }

  .nocomand{flex-direction: column;}

  .nocomand__title{
    text-align: center;
    margin: 0;
  }

  .nocomand__text{
    text-align: center;
    margin-top: 1.25rem;
  }

  .registration-info-block{
    width: 100%;
    border-radius: 0;
  }


  .program-info-block{
    padding: 2.5rem 0;
  }
  
  .day-switch{
    flex-direction: column;
  }

  .first-day-table{width: 100%;}
  .second-day-table{width: 100%;}
  .third-day-table{width: 100%;}

  .form-block{
    padding-left: 5%;
    padding-right: 5%;
  }

  .form-block__title{
    height: auto;
  }

  .nav-burger-menu{
    width: 100%;
  }

  .footer__second-layer{
    flex-direction: column;
    align-items: start;

    row-gap: 1.25rem;
  }

}


/* ЭЭЭЭЭЭЭООООООООО */
/* ЭЭЭЭЭЭЭООООООООО */
